html, body{
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Microsoft YaHei" !important;
  min-width: 1000px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -o-flex-direction: column;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus, input:active, input:visited {
  border: 0;
  outline: none;
}
