html, body{
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Microsoft YaHei" !important;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus, input:active, input:visited {
  border: 0;
  outline: none;
}


table {
  background-color: #fff;
  border-spacing: 0;
  font-size: 16px;
  border-color: #cccccc;
  width: 100%;
  table-layout:fixed;
  border: 1px solid #cccccc;
}

table .title {
  height: 60px;
  background-color: #E6E6E6;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
}

table .title th {
  font-weight: bold;
  color: #333;
  /*padding: 0 18px;*/
}

table tr td {
  padding: 0 18px;
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  color: #838383;
}

table tr td:last-child {
  border-right: 0px;
}

table tr td:first-child {
  color: #333;
}



.panel {
  min-width: 103px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  text-align: center;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  border: 1px solid #ccc;
  border-bottom: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  background-color: #F4F4F4;
  font-size: 14px;
}

.current {
  color: #fff;
  background-color: #BD9A56;
  border-color: #BD9A56;
}

.panel-content {
  border: 1px solid #ccc;
  margin-top: -1px;
  padding: 20px;
  background-color: #fff;
}

.panel-show {
  display: block;
}
.panel-hide {
  display: none;
}


.input-group {
  font-size: 14px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
}

.input-group>div {
  border: 1px solid #CCCCCC;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100%;
  padding: 0 20px;
  margin-left: -1px;
  margin-top: -1px;
  height: 50px;
  line-height: 50px;
}

.input-group>div:first-child {
  margin-left: 0px;
}

.input-group>.input-title {
  background-color: #F4F4F4;
  width: 173px;
}

.input-group>.input-content {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -o-flex: 1;
  min-width: 40px;
}

.input-content>textarea {
  width: 100%;
  border: 0px;
  outline: none;
  font-size: 14px;
  padding-top: 10px;
  color: #727272;
}

.input-content>input {
  width: 100%;
  border: 0px;
  outline: none;
  color: #727272;
}

.input-group>.big-area {
  height: auto;
  white-space: normal;
  line-height: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #8A8A8A;
  font-size: 14px;
}

.margin-top-20 {
  margin-top: 20px;
}

.input-group>.oneline {
  width: 100%;
}



.select-group {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.select-group>input {
  width: 200px;
  height: 40px;
  border: 1px solid #CCCCCC;
  color: #CCCCCC;
  padding-left: 10px;
  font-size: 16px;
  padding-right: 41px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}

.select-group>.icon-down {
  position: absolute;
  width: 40px;
  height: 34px;
  background-image: url('../imgs/icons/icon-down.png');
  background-repeat: no-repeat;
  background-position: center;
  right: 0px;
  top: 50%;
  margin-top: -16px;
  border-left: 1px solid #ccc;
}


.select-group>ul {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0px;
  box-sizing: border-box;
}

.select-group>ul>li {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.select-group>.input-hide {
  display: none;
}

.option-selected {
  background-color: #ccc;
}



.table-page {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  right: 0;
}

.table-page>span {
  color: #072B5D;
  vertical-align: middle;
}

.table-page>a {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  display: inline-block;
  background-color: #B4B4B4;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  vertical-align: middle;
}

.table-page>a.selected {
  background-color: #072B5F;
}

.table-page>.separator, .table-page>.end-page {
  color: #B4B4B4;
}

.page-pre {
  background-image: url('../imgs/icons/icon-pre.png');
  margin-right: 12px;
}

.page-to {
  background-image: url('../imgs/icons/icon-next.png');
  margin-left: 12px;
}
