body {
  padding: 0 20px 30px;
}

.container>.title {
  position: relative;
  padding: 30px 0;
}

.container>.title>span {
  font-size: 18px;
  padding-right: 30px;
}

.container>.title>a {
  width: 90px;
  height: 36px;
  line-height: 36px;
  background-image: url('../imgs/icons/icon-edit.png');
  background-repeat: no-repeat;
  background-position: 13px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border: 2px solid #969696;
  color: #969792;
  display: inline-block;
  text-indent: 39px;
  position: absolute;
  right: 0px;
  margin-top: -20px;
  top: 50%;
}

.content {
  border: 1px solid #ccc;
  background-color: #fff;
}

.content>.title {
  height: 59px;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: #E6E6E6;
  line-height: 59px;
  font-size: 16px;
  text-indent: 20px;
}

.part1, .part2 {
  padding: 20px;
}


.panel-content table {
  border-color: #ccc;
}

.panel-content .title {
  height: 48px;
}

.panel-content>table>tbody>tr>th {
  border-right: 1px solid #ccc;
}

.panel-content>table>tbody>tr>th:last-child {
  border-right: 0px;
}

.panel-content>table>tbody>tr>td {
  height: 48px;
  border-color: #ccc;
}

.panel-btns {
  text-align: right;
}

.add-btn {
  margin-top: 20px;
  background-color: #BD9A56;
  color: #fff;
  border-radius: 4px;
  padding: 0 14px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}

.btns {
  padding-top: 40px;
  text-align: center;
  padding-bottom: 70px;
  font-size: 18px;
}

.btns>a {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #969696;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  display: inline-block;
}

.btns>a:first-child {
  margin-right: 30px
}

.btns>a.active {
  background-color: #BCA070;
}

.part21 {
  border: 1px solid #ccc;
  margin-top: -1px;
  height: 74px;
  line-height: 74px;
  padding: 0 20px;
}

.part21>a {
  background-color: #BCA070;
  height: 30px;
  padding: 0 14px;
  display: inline-block;
  margin-left: 100px;
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  line-height: 30px;
  color: #fff;
}

.part21>span {
  display: inline-block;
  vertical-align: middle;
}
